{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4"></h2>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="mb-3">
            </div>
            <h4>Delete {{ object.title }}?</h4>
            <button type="submit" class="btn btn-primary">Yes</button>
            <a class="btn btn-primary" href="{% url 'blog:view' object.pk %}">No</a>

        </form>
    </div>
{% endblock %}